@(oldestPost: DataModel,
mostPosts: Tuple2[String, Int],
longestMessage: Tuple2[DataModel, Int],
shortestMessage: Tuple2[DataModel, Int],
postsPerUser: List[(String, Int)],
totalMessageCharsPerUser: List[(String, Int)]
)

@import viewHelpers.formatHelper

@main("Jonny Stats Page") {

<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/table.css")" />
<h1>The oldest post in the database is:</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Message</th>
    <th>Time</th>
    <th>Date</th>
  </tr>
  <tr>
    <td>@oldestPost.name</td>
    <td>@oldestPost.age</td>
    <td>@oldestPost.message</td>
    <td>@viewHelpers.formatHelper.timeFormatter(oldestPost.timestamp)</td>
    <td>@viewHelpers.formatHelper.dateFormatter(oldestPost.timestamp)</td>
  </tr>
</table>

<h2>The user with the most posts is:</h2>

<table class="table">
  <tr>
    <th>User</th>
    <th>Number of posts</th>
  </tr>
  <tr>
    <td>@mostPosts._1</td>
    <td>@mostPosts._2</td>
  </tr>
</table>

<h2>The post with the longest message in the database is:</h2>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Message</th>
    <th>Time</th>
    <th>Date</th>
  </tr>
  <tr>
    <td>@longestMessage._1.name</td>
    <td>@longestMessage._1.age</td>
    <td>@longestMessage._1.message</td>
    <td>@viewHelpers.formatHelper.timeFormatter(longestMessage._1.timestamp)</td>
    <td>@viewHelpers.formatHelper.dateFormatter(longestMessage._1.timestamp)</td>
  </tr>
</table>

<h3>It is @longestMessage._2 characters long! Can you believe it?</h3>

<h2>The post with the shortest message in the database is:</h2>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Message</th>
    <th>Time</th>
    <th>Date</th>
  </tr>
  <tr>
    <td>@shortestMessage._1.name</td>
    <td>@shortestMessage._1.age</td>
    <td>@shortestMessage._1.message</td>
    <td>@viewHelpers.formatHelper.timeFormatter(shortestMessage._1.timestamp)</td>
    <td>@viewHelpers.formatHelper.dateFormatter(shortestMessage._1.timestamp)</td>
  </tr>
</table>

<h3>It is @shortestMessage._2 characters long! Is that it?</h3>

<h2>Posts per user:</h2>
<table class="table">
  <tr>
    <th>User</th>
    <th>Number of posts</th>
  </tr>
  @for(tuple <- postsPerUser) {
    <tr>
      <td>@tuple._1</td>
      <td>@tuple._2</td>
    </tr>
  }
</table>

<h2>Total message characters per user:</h2>
<table class="table">
  <tr>
    <th>User</th>
    <th>Total number of characters</th>
  </tr>
  @for(tuple <- totalMessageCharsPerUser) {
  <tr>
    <td>@tuple._1</td>
    <td>@tuple._2</td>
  </tr>
  }
</table>

}